@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
body {
  margin-left: 15.625rem!important;
  position: relative;
}
/* HEADINGS */
h2 {
    font-family: "Raleway";
    font-size:2.5rem;
    font-weight:700;
    color:#134e6f;
}
h5 {
    font-family: "Raleway";
    font-size:0.9rem;
    font-weight:700;
    color: #1ac0c6;
}
h6 {
    color: #1ac0c6;
    font-family: "Raleway";
    font-weight:600;
}
.heading-6:hover {
    color:#ff6150;
    text-decoration:underline;
}
/* SIDE NAVBAR STYLING */
.container {
  padding: 2.5rem;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}
#sidemenunav {
  width: 11.625rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #dee0e6;
  color: #134e6f!important;
  padding: 1.875rem 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.99;
  z-index: 1000;
}
.navbaritems {
    font-family: "Raleway";
    font-weight:600;
    color: #134e6f!important;
}
.side {
    list-style:none;
}
.navbaritems:hover {
  transform: scale(1.01);
  color: #ffa822!important;
  transition: background-color 0.5s linear;
}
.underlink{
  color: #ff6150!important;
}
.underlink:hover{
  color: #1ac0c6!important;
  text-decoration: underline;
  transition: background-color 0.2s linear;
}
#hamburgerBtn {
  display: none;
  position: absolute;
  top: 1.875rem;
  right: 1.875rem;
}
#hamburgerBtn:hover {
  cursor: pointer;
}
/* NAVBAR MEDIA QUERY */
@media only screen and (max-width: 768px) {

  body {
    margin-left: 0!important;
    width:100%;
  }

  #sidemenunav {
    width: 100vw;
    transform: translateX(-1000px);
    transition: 500ms transform;
  }

  #sidemenunav.open {
    transform: translateX(0);
  }

  .navbaritems>li {
    list-style-type: none;
    margin-bottom: 0.625rem;
    text-align: center;
  }

  #hamburgerBtn {
    display: inline-block;
    z-index: 2000;
  }

  .accordioncontainer {
    margin-left: 0;
    width: 100%
  }
}

/* DASHBOARD */
.dashboard-icon{
    height:4rem;
    width:4rem;
}
/* PROFILE */
.profile {
    font-family: "Raleway";
    font-size: 1.2rem;
    color: #1ac0c6;
    font-weight:700;
}
/* BUTTONS */
.primary-button {
    color:#dee0e6;
    background-color:#1ac0c6;
    font-family: "Open Sans";
    font-size:0.9rem;
    font-weight:800;
}
.primary-button:hover {
    background-color:#134e6f;
    transition: background-color 0.8s ease;
    color: #dee0e6;
}
.secondary-button {
    color:#dee0e6;
    background-color:#134e6f;
    font-family: "Open Sans";
    font-size:0.9rem;
    font-weight:800;
}
.secondary-button:hover {
    background-color:#1ac0c6;
    transition: background-color 0.8s ease;
    color: #dee0e6;
}
.w-10{
    width:10vw;
}
.meds {
    color: #134e6f;
    font-family:"Open Sans";
    font-size:0.9rem;
    font-weight:500;
}