@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@font-face {
  font-family: Gilroy Light;
  src: url(../fonts/Gilroy-Light.otf);
}
@font-face {
  font-family: Gilroy ExtraBold;
  src: url(../fonts/Gilroy-ExtraBold.otf);
}
:root {
  /*p for primary, s for secondary, t for tertiary*/
  --p-blue: #02014f;
  --p-purple: #6236FF;
  --p-teal: #5cc9ca;
  --s-teal:#9CE9EA;
  --bk-grey: #F3F7FA;
}
* {
 box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}
html,
body {
 height: 100%;
 position: relative;
 background-color: var(--bk-grey);
}
.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; /* height of your footer */
}
.logged-in {
    margin-left:80px;
}
/* Skinny sidenav */
#skinny-nav {
  background-color:white;
  width: 70px;
  height:100%;
  position: fixed;
  left: 0;
}

#skinny-nav-list {
  position: absolute;
  top: 100px;
  left: 0;
  list-style-type: none;
  padding: 0;
  width:100%!important;
}

#skinny-nav-list > li > a {
    padding-top:15px;
    padding-bottom:15px;
    padding-right:20px;
    color: var(--p-grey);
    font-size: 1.3rem;
    width:100%!important;
}
.skinny-nav-writing{
    font-size:10px;
}
#skinny-nav-list > li > a > p {
  position: relative;
  display: inline;
  padding-left: 20px;
  margin: 0;
  width:100%!important;
}

#skinny-nav-list > li > a:hover {
  background-color: rgba(0,0,0,0.08);
  border-left: 3px solid var(--p-orange);
}

.skinny-nav-profile {
  height: 100px;
  padding-left: 5px;
  padding-top: 15px;
}

.skinny-nav-profile > p {
  display: inline;
  padding-left: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

#skinny-nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 997;
}

/* End of skinny */
footer {
 position: absolute;
 bottom: 0;
 width: 100%;
 background-color: var(--p-blue);
 color:white;
 font-family: Roboto;
}
footer div {
    font-size:0.8rem;
    padding-top: 80em!important;
}
h1 {
  color: #02014f;
  letter-spacing: 0.4px;
  font-size: 40px;
  font-family: "Gilroy ExtraBold";
  text-align: left;
  vertical-align: middle;
}
p {
    font-family: Roboto;
    font-weight: 200;
    font-size: 16px;
    color: #02014f;
    text-align: left;
    vertical-align: top;
}
label {
    font-family:"Roboto";
    color:var(--p-blue);
    font-size:14px;
    font-weight:400;
}
input {
    border-radius:0;
}
.primary-button {
    background-color: var(--p-blue);
    font-family:Roboto;
    color:white;
    font-weight:300;
}
.primary-button:hover {
    background-color: var(--p-blue);
    color:white;
    text-decoration:underline;
}
a {
    color:var(--p-teal);
    font-weight:400;
}
a:hover {
    color:var(--p-teal);
    text-decoration:underline;
}
.form-control {
    border-radius: 0;
}
.overlay {
    height:45px;
    width:45px;
    background-color:white;
    border-radius: 50%;
}
.overlay img {
    margin-left: 5px;
    margin-top:3px;
}
.main-head {
    font-family: "Gilroy ExtraBold";;
    color: var(--p-blue);
    font-size:1.2rem;
    line-height:0;
}
.light-head{
    font-family: Roboto;
    font-weight:300;
    color: var(--p-blue);
    font-size:0.8rem;
    line-height:1;
}
.patient-row {
    background-color:white;
    border-radius: 5px;
    vertical-align: middle;
}
.logged-in h1 {
    font-size:1.8rem;
}