@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Raleway:wght@300;400;500;600;700;800;900&display=swap');


/* MDBOOSTRAP ICONS & FORMS */

.md-form .input-prefix{
    color:#7fb5b5!important;
}
.md-form .input-prefix.active {
    color:#7fb5b5!important;
}
.md-form input[type='text']:not(.broswer-default):focus:not([readonly]){
    color:#7fb5b5!important;
    border-bottom:1px solid #7fb5b5!important;
    box-shadow: 0 1px 0 0 #7fb5b5!important;
}
.label:focus {
    color:#7fb5b5!important;
}

/* COLLAPSABLE SIDEBAR */

#sidebar-container {
    min-height: 100vh!important;   
    padding: 0;
}
.sidebar-collapsed {
    width: 100px;
}
#sidebar-container .list-group a {
    height: 50px;
}
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}
/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
.list-group-item-action:hover {
    background-color: #846464;
    text-decoration: underline;
    color:#fcefeb;
}
/* LOGIN PAGE */

.role {
    height: 95px;
    width:95px;
}
.section {
    margin-top:10rem;
}
.height {
    height:40px!important;
}