@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
.overlay {
    background-color:#e0f0ea;
}
.md-form .input-prefix{
    color:#574f7d!important;
}
.md-form .input-prefix.active {
    color:#95adbe!important;
}
.md-form input[type='text']:not(.broswer-default):focus:not([readonly]){
    color:#95adbe!important;
    border-bottom:1px solid #95adbe!important;
    box-shadow: 0 1px 0 0 #95adbe!important;
}
.label:focus {
    color:#95adbe!important;
}
.section {
    padding: 3rem 0rem 2rem 0rem;
}
.column-small {
    width:30%;
}
.column-big {
    width:60%;
}
.role {
    height: 80px;
    width:80px;
}
.btn-style {
    background-color:#3c2a4d;
    color:#e0f0ea;
    letter-spacing:1.3px;
}
.btn-style:hover {
    background-color:#95adbe;
    color:#3c2a4d;
    letter-spacing:1.3px;
    text-decoration:underline;
}
.job-label {
    font-family: Montserrat;
    font-weight:200;
    letter-spacing:1px;
    color:#503a65;
}
.icon.active {
    color:#95adbe;
}
.new-user {
    color:#574f7d;
    font-size:1.3rem;
    margin-top:2rem;
}
.new-user:hover {
    color:#95adbe;
}
.link {
    color:#574f7d;
    font-family: "Montserrat";
    font-size:0.7rem;
}
.link:hover {
    color:#95adbe;
    text-decoration:underline;
}
.dashboard-icon {
    height:100px;
    width:100px;
    text-align:center;
}
.nav-cards:hover {
    background-color:#95adbe;
}
.page-head {
    font-family:"Montserrat";
    font-weight:500;
    color:#574f7d;
}
.card-text {
    padding-top:2em;
    color:#503a65;
}
.border-box {
    border:1px dashed black!important;
}
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
#sidebar .sidebar-header strong {
    display: none;
}
#sidebar.active .sidebar-header h3 {
    display: none;
}
#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

/* Same dropdown links padding*/
#sidebar.active ul ul a {
    padding: 10px !important;
}

/* Changing the arrow position to bottom center position, 
   translateX(50%) works with right: 50% 
   to accurately  center the arrow */
#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}
@media (max-width: 768px) {
    /* 80px and its content aligned to centre. Pushing it off the screen with the
       negative left margin
    */
    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }


    /* Reappearing the sidebar on toggle button click */
    #sidebar {
        margin-left: 0; 
    }


    /* Toggling the sidebar header content, 
       hide the big heading [h3] and showing the small heading [strong] and vice versa
    */
    #sidebar .sidebar-header strong {
        display: none;
    }
    #sidebar.active .sidebar-header h3 {
        display: none;
    }
    #sidebar.active .sidebar-header strong {
        display: block;
    }

    /* Downsize the navigation links font size */
    #sidebar.active ul li a {
        padding: 20px 10px;
        font-size: 0.85em;
    }

    #sidebar.active ul li a i {
        margin-right:  0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }

    /* Adjust the dropdown links padding*/
    #sidebar.active ul ul a {
        padding: 10px !important;
    }

    /* Changing the arrow position to bottom center position, 
      translateX(50%) works with right: 50% 
      to accurately  center the arrow */
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
}