@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
.overlay {
    background-color:#e0f0ea;
}
.md-form .input-prefix{
    color:#574f7d!important;
}
.md-form .input-prefix.active {
    color:#95adbe!important;
}
.md-form input[type='text']:not(.broswer-default):focus:not([readonly]){
    color:#95adbe!important;
    border-bottom:1px solid #95adbe!important;
    box-shadow: 0 1px 0 0 #95adbe!important;
}
.label:focus {
    color:#95adbe!important;
}
.section {
    padding: 3rem 0rem 2rem 0rem;
}
.column-small {
    width:30%;
}
.column-big {
    width:60%;
}
.role {
    height: 80px;
    width:80px;
}
.btn-style {
    background-color:#3c2a4d;
    color:#e0f0ea;
    letter-spacing:1.3px;
}
.btn-style:hover {
    background-color:#95adbe;
    color:#3c2a4d;
    letter-spacing:1.3px;
    text-decoration:underline;
}
.job-label {
    font-family: Montserrat;
    font-weight:200;
    letter-spacing:1px;
    color:#503a65;
}
.icon.active {
    color:#95adbe;
}
.new-user {
    color:#574f7d;
    font-size:1.3rem;
    margin-top:2rem;
}
.new-user:hover {
    color:#95adbe;
}
.link {
    color:#574f7d;
    font-family: "Montserrat";
    font-size:0.7rem;
}
.link:hover {
    color:#95adbe;
    text-decoration:underline;
}
.dashboard-icon {
    height:100px;
    width:100px;
    text-align:center;
}
.nav-cards:hover {
    background-color:#95adbe;
}


.page-head {
    font-family:"Montserrat";
    font-weight:500;
    color:#574f7d;
}
.card-text {
    padding-top:2em;
    color:#503a65;
}