@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* FONT STLYING */

.montserrat-100 {
    font-weight:100;
    font-family:Montserrat;
}
.montserrat-200 {
    font-weight:200;
    font-family:Montserrat;
}
.montserrat-300 {
    font-weight:300;
    font-family:Montserrat;
}
.montserrat-400 {
    font-weight:400;
    font-family:Montserrat;
}
.montserrat-500 {
    font-weight:500;
    font-family:Montserrat;
}
.montserrat-600 {
    font-weight:600;
    font-family:Montserrat;
}
.montserrat-700 {
    font-weight:700;
    font-family:Montserrat;
}
.montserrat-800 {
    font-weight:800;
    font-family:Montserrat;
}
.montserrat-900 {
    font-weight:900;
    font-family:Montserrat;
}

/* FONT COLOURS */

.turquoise-font {
    color: #7fb5b5;
}
.teal-font {
    color:#597f7f;
}
.purple-font {
    color: #7f8db5;
}
.green-font {
    color:#7fb57f;
}
.darkgreen-font {
    color:#597f59;
}
.white-font {
    color: #f5f5f5;
}


/* BACKGROUND COLOURS */

.turquoise-bkgd {
    background-color: #7fb5b5;
}
.teal-bkgd {
    background-color:#597f7f;
}
.purple-bkgd {
    background-color: #7f8db5;
}
.green-bkgd {
    background-color:#7fb57f;
}
.darkgreen-bkgd {
    background-color:#597f59;
}

/* 
FONT SIZES  */
.font-small {
    font-size:1.2rem;
}
.font-medium {
    font-size:1.4rem;
}
.font-large {
    font-size:3.2rem;
}

/* PRIMARY BUTTON  */
.primary-button {
    color:#f5f5f5;
    background-color:#7f8db5;
}
.primary-button:hover {
    text-decoration:underline;
    background-color:#7fb57f;
    color:#f5f5f5
}


/* SECONDARY BUTTON  */
.secondary-button {
    color:#f5f5f5;
    background-color:#7fb57f;
}
.secondary-button:hover {
    text-decoration:underline;
    background-color:#7f8db5;
    color:#f5f5f5
}

/* TERTIARY BUTTON  */
.tertiary-button {
    color:#f5f5f5;
    background-color:#7fb5b5;
}
.tertiary-button:hover {
    text-decoration:underline;
    background-color:#597f59;
    color:#f5f5f5
}

/* MDBOOSTRAP ICONS & FORMS */

.md-form .input-prefix{
    color:#7fb5b5!important;
}
.md-form .input-prefix.active {
    color:#7fb5b5!important;
}
.md-form input[type='text']:not(.broswer-default):focus:not([readonly]){
    color:#7fb5b5!important;
    border-bottom:1px solid #7fb5b5!important;
    box-shadow: 0 1px 0 0 #7fb5b5!important;
}
.label:focus {
    color:#7fb5b5!important;
}

/* COLLAPSABLE SIDEBAR */

#sidebar-container {
    min-height: 100vh!important;   
    padding: 0;
}
.sidebar-collapsed {
    width: 100px;
}
#sidebar-container .list-group a {
    height: 50px;
}
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}
/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
.list-group-item-action:hover {
    background-color: #846464;
    text-decoration: underline;
    color:#fcefeb;
}
/* LOGIN PAGE */

.role {
    height: 95px;
    width:95px;
}
.section {
    margin-top:10rem;
}
.height {
    height:40px!important;
}