{% extends "layout.html" %}
{% block body %}

<section class="section">
	<h1 class="page-head text-center">Login Here</h1>
	<h4 class="page-sub py-3 text-center">EMR Medical Practioner Login for Redemption Medical Center</h4>
</section>
<div class="container overlay z-depth-2 mb-5 pb-3">
	<section class="section">
		<div class="container">
			<form method="POST" action="{{ url_for('login') }}">
				<div class="row d-flex justify-content-center">
					<div class="row-3 p-3">
						<input type="radio" id="doctor" name="profession" class="radio">
						<label for="doctor" class="text-center job-label"><img class="img-fluid role" src="../static/images/drs.svg" /><br>Doctor</label>
					</div>
					<div class="row-3 p-3">
						<input type="radio" id="nurse" name="profession" class="radio">
						<label for="nurse" class="text-center job-label"><img class="img-fluid role" src="../static/images/nurse.svg" /><br>Nurse</label>
					</div>
					<div class="row-3 p-3">
						<input type="radio" id="admin" name="profession" class="radio">
						<label for="admin" class="text-center job-label"><img class="img-fluid role" src="../static/images/admin.svg" /><br>Adminstrator</label>
					</div>
				</div>
				<div class="row d-flex justify-content-center">
					<div class="col-sm-12 col-md-6 col-lg-6">
						<div class="md-form input-with-post-icon icon">
							<i class="fas fa-user input-prefix"></i>
							<input type="text" id="username" name="username" class="form-control" required>
							<label for="username" class="label">Username</label>
						</div>
					</div>
				</div>
				<div class="row d-flex justify-content-center">
					<div class="col-sm-12 col-md-6 col-lg-6">
						<div class="md-form input-with-post-icon icon">
							<i class="fas fa-lock input-prefix"></i>
							<input type="text" id="password" name="password" class="form-control" required>
							<label for="password" class="label">Password</label>
						</div>
					</div>
				</div>
				<div class="row d-flex justify-content-center">
					<div class="col-sm-12 col-md-6 col-lg-6">
						<button class="btn-block mt-5 btn btn-style" type="submit">Login</button>
					</div>
				</div>
			</form>
		</div>
	</section>
	<div class="text-center">
		<small>(For Testing)</small> Don't have an account? <a href="{{ url_for('register') }}">Sign up here</a>.
	</div>
</div>
{% endblock %}