{% extends "login-layout.html" %}
{% block body %}
<nav class="navbar navbar-expand nav-2">
  <div class="collapse navbar-collapse">
    <a class="nav-link" href="{{ url_for('index') }}"><img src="../static/images/back.png" class="img-fluid"><span class="sr-only">(current)</span></a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><img src="../static/images/patient-profile.png" class="img-fluid"><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('smart_form', patient_id=patient._id)}}"><img src="../static/images/smart-form.png" class="img-fluid"> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="../static/images/billing.png" class="img-fluid"></a>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-expand navbar-light">
  <div class="collapse navbar-collapse" id="navbarNav ">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link smart_nav" href="#">Consultation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link smart_nav" href="#">Laboratory Data</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link smart_nav" href="#">Medications <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link smart_nav" href="#">Preventative</a>
      </li>
      <li class="nav-item">
        <a class="nav-link smart_nav" href="#">Report</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item"> <a class="nav-link" href="#"><img src="../static/images/next.png" class="img-fluid"> </a></li>
    </ul>
  </div>
</nav>
<div class="d-flex justify-content-end mx-5 my-5">
      <form class="form-inline" action="{{ url_for('search_med',patient_id=patient._id) }}" method="POST">
        <input class="form-control z-depth-1 patient-search" type="text" placeholder="Search for your patient using their first or last name" aria-label="Search" name="query" id="query" minlength="3" required>
        <button type="submit" class="btn primary-button">Search</button>
      </form>
    </div>
<div class="row patient-headings mt-5 mx-5">
  <div class="col-lg-3 col-md-3 d-flex justify-content-center ">
    <p class="light-head d-none d-md-block ">Medication</p>
  </div>
  <div class="col-lg-3 col-md-3 d-flex justify-content-center">
    <p class="light-head d-none d-md-block">Duration</p>
  </div>
  <div class="col-lg-3 col-md-3 d-flex justify-content-center">
    <p class="light-head d-none d-md-block">Route</p>
  </div>
   <div class="col-lg-3 col-md-3 d-flex justify-content-center">
    <p class="light-head d-none d-md-block">Dosage</p>
  </div>
</div>
<div class="patient-list">
  {% for medication in medications %}
    {% if medication.patient_id == patient.patient_id %}
  <div class="row  patient-row my-4 py-3 z-depth-1 mx-5">
    <div class="col-lg-3 col-md-3 d-flex justify-content-center">
         <p>{{medication.medication_name}}</p>
    </div>
    <div class="col-lg-3 col-md-3 d-flex justify-content-center">
       <p class="startend">{{medication.start}}:{{medication.end}}</p>
    </div>
    <div class="col-lg-3 col-md-3 d-flex justify-content-center">
      {{medication.Route}}
    </div>
    <div class="col-lg-3 col-md-3 d-flex justify-content-center">
      {{medication.dosage}}
    </div>
  </div>
   {% endif %}
  {% endfor %}
</div>
  <div class="float-right ">
        <a href="{{ url_for('new_medicine', patient_id=patient._id) }}" class="my-3">
  <img src="../static/images/new_tag.png" alt="New Medication" >
</a>
    </div>
     <div class="col-lg-1 float-right">
        <a href="{{ url_for('new_medicine', patient_id=patient._id) }}" class="my-3">
  <img src="../static/images/new_med.png" alt="New Medication" >
</a>
    </div>
{% endblock %}
