{% extends "login-layout.html" %}
{% block body %}
<h1 class="mt-5 ml-4">
    Patient Details
</h1>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-12 col-md-5 col-lg-5">
        <div class="card">
  <div class="card-body">
    <h5 class="card-title">Personal Information</h5>
    <hr>
    <p class="card-text"><strong>Name: </strong>{{patient.full_name}}</p>
    <p class="card-text"><strong>D.O.B: </strong>{{patient.dob}}</p>
    <p class="card-text"><strong>Gender: </strong>{{patient.gender}}</p>
    <p class="card-text"><strong>Ethnicity: </strong>{{patient.ethnicity}}</p>
     <h5 class="card-title">Medical Information</h5>
    <hr>
    <p class="card-text"><strong>Blood Type: </strong>{{patient.blood_type}}</p>
    <p class="card-text"><strong>Smoking Habits: </strong>{{patient.smoking_habits}}</p>
    <p class="card-text"><strong>Alcohol Consumption: </strong>{{patient.drinking_habits}}</p>
    <p class="card-text"><strong>Fitness: </strong>{{patient.exercise_habits}}</p>
     <h5 class="card-title">Allergies & Conditions</h5>
    <hr>
    <p class="card-text"><strong>Allergies:</strong></p>
    <p class="card-text">{{patient.allergies}}</p>
    <p class="card-text"><strong>Conditions:</strong></p>
    <p class="card-text">{{patient.conditions}}</p>
  </div>
</div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
    </div>
</div>

</div>
{% endblock %}
