{% extends "login-layout.html" %}
{% block body %}
<div class="row mt-5 mb-3">
  <div class="col-lg-12 col-md-8 col-sm-10 offset-lg-7 offset-md-1 offset-sm-1">
      <form  class="form-inline" action="{{ url_for('search') }}" method="POST">
        <input class="form-control z-depth-1 patient-search" type="text" placeholder="Search for your patient using their first or last name" aria-label="Search" name="query" id="query" minlength="3" required>
         <button type="submit" class="btn primary-button">Search</button>
    </form>
  </div>
</div>
<div class="row patient-headings mt-5">
        <div class="col-lg-2 col-md-2">
    </div>
</div>
<div class="row patient-headings mt-5 mx-5">
    <div class="col-lg-2 col-md-2 offset-lg-1">
        <p class="light-head d-none d-md-block ">Patient ID</p>
    </div>
    <div class="col-lg-2 col-md-3">
        <p class="light-head d-none d-md-block">First Name</p>
    </div>
     <div class="col-lg-1 col-md-3">
        <p class="light-head d-none d-md-block">Surname</p>
    </div>
         <div class="col-lg-2 col-md-2">
        <p class="light-head d-none d-md-block">D.O.B</p>
    </div>
            <div class="col-lg-2 col-md-2">
        <p class="light-head d-none d-md-block">Gender</p>
    </div>
            <div class="col-lg-2 col-md-2">
        <p class="light-head d-none d-md-block">Tags</p>
    </div>
    </div>
{% for patients in patients %}
<div class="row patient-row my-4 py-3 z-depth-1 mx-4">
    <div class="col-lg-2 col-md-2 offset-lg-1">
    </div>
    <img src="static/images/line.svg" class="img-fluid ">
    <div class="col-lg-2 col-md-2">
        <p ><a class="td-link" href="{{url_for('profile', patient_id=patients._id)}}">{{patients.first_name}}</a></p>
    </div>
    <img src="static/images/line.svg" class="img-fluid">
    <div class="col-lg-1 col-md-1">
        <p ><a class="td-link" href="{{url_for('profile', patient_id=patients._id)}}">{{patients.surname}}</a></p>
        
    </div>
    <img src="static/images/line.svg" class="img-fluid ">
    <div class="col-lg-2 col-md-2">
        <p>{{patients.dob}}</p>
         
    </div>
    <img src="static/images/line.svg" class="img-fluid">
        <div class="col-lg-2 col-md-2">
        <p>{{patients.gender}}</p>
    </div>
    <img src="static/images/line.svg" class="img-fluid">
        <div class="col-lg-2 col-md-2">
    </div>
    </div>
    {% endfor %}
    <div class="row">
         <div class="col-2 offset-lg-10">
        <a href="{{ url_for('new_patient') }}">
        <img src="../static/images/new-user.png" alt="New Patient Icon"/>
    </a>
    </div>
    </div>
{% endblock %}
