{% extends "login-layout.html" %}
{% block body %}
<nav class="navbar navbar-expand-lg nav-2">
  <div class="collapse navbar-collapse" >
       <a class="nav-link" href="{{ url_for('index') }}"><img src="../static/images/back.png" class="img-fluid"><span class="sr-only">(current)</span></a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><img src="../static/images/patient-profile.png" class="img-fluid"><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('smart_form', patient_id=patient._id)}}"><img src="../static/images/smart-form.png" class="img-fluid"> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="../static/images/billing.png" class="img-fluid"></a>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light z-depth-1">
  <div class="collapse navbar-collapse" id="navbarNav ">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link smart_nav" href="#">Consultation <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link smart_nav" href="#">Laboratory Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link smart_nav" href="#">Medications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link smart_nav" href="#">Preventative</a>
      </li>
       <li class="nav-item">
        <a class="nav-link smart_nav" href="#">Report</a>
      </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item"> <a class="nav-link" href="#"><img src="../static/images/next.png" class="img-fluid"> </a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid mt-3 smart-card">
    <div class="row z-depth-1 my-3">
       <div class="col-lg-5 my-5">
    <form  method="POST" action="{{ url_for('new_consulatation',patient_id=patient._id) }}">
  <div class="form-group">
    <label>Date of Consulatation</label>
    <input type="date" name="date_of_consultation" class="form-control" value="DD-MM-YYYY">
  </div>
  <div class="form-group">
    <label >Physician</label>
    <input type="text" name="physician" class="form-control">
  </div>
  <div class="form-group">
   <label >Reason for Consulatation</label>
    <input type="text" name="reason" class="form-control">
  </div>
  <div class="form-group">
   <label >Current Symptoms</label>
    <input type="text" name="symptoms" class="form-control">
  </div>
 <div class="form-group">
    <label>Physical Examination</label>
    <textarea class="form-control" name="examination" rows="3"></textarea>
  </div>
  <div class="form-group">
   <label >Allergies & Conditions</label>
    <input type="text"  name="allergies" class="form-control">
  </div>
  <div>
      <p>Order a Blood test</p>
  <div class="form-check form-check-inline">
  <input class="form-check-input  mx-1" type="radio" name="order_blood" id="inlineRadio1" value="Yes">
  <label class="form-check-label mx-1" for="inlineRadio1">Yes</label>
   <input class="form-check-input  mx-1" type="radio" name="order_blood" id="inlineRadio2" value="No">
  <label class="form-check-label  mx-1" for="inlineRadio2">No</label>
</div>
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
       </div>
       <div class="col-7 my-5">
           <div class="form-group ">
    <label>Impression</label>
    <textarea class="form-control" name="impression" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label>Treatment Plan</label>
    <textarea class="form-control" name="treatment" rows="3"></textarea>
  </div>
       </div>
       </form>
    </div>
</div>


{% endblock %}
