{% extends "login-layout.html" %}
{% block body %}
<nav class="navbar navbar-expand-lg nav-2">
  <div class="collapse navbar-collapse">
    <a class="nav-link" href="{{ url_for('index') }}"><img src="../static/images/back.png" class="img-fluid"><span class="sr-only">(current)</span></a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><img src="../static/images/patientprofile.png" class="img-fluid"><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('smart_form', patient_id=patient._id)}}"><img src="../static/images/smartform-active.png" class="img-fluid"> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="../static/images/billing.png" class="img-fluid"></a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-5">
      <h1 class="mt-5 ml-4">Patient Details</h1>
      <div class="card">
        <div class="card-body patient-details">

          <div class="d-flex justify-content-between">
            <h5 class="card-title">Personal Information</h5>
            <a href="{{url_for('edit_patient', patient_id=patient._id)}}"> <img src="../static/images/edit.png" height="15"> </a>
          </div>
          <hr>
          <p class="card-text"><strong>Name: </strong>{{patient.first_name}} {{patient.surname}}</p>
          <p class="card-text"><strong>D.O.B: </strong>{{patient.dob}}</p>
          <p class="card-text"><strong>Gender: </strong>{{patient.gender}}</p>
          <p class="card-text"><strong>Ethnicity: </strong>{{patient.ethnicity}}</p>
          <div class="d-flex justify-content-between">
            <h5 class="card-title">Medical Information</h5>
            <a href="{{url_for('edit_patient_med', patient_id=patient._id)}}"> <img src="../static/images/edit.png" height="15"> </a>
          </div>
          <hr>
          <p class="card-text"><strong>Blood Type: </strong>{{patient.blood_type}}</p>
          <p class="card-text"><strong>Smoking Habits: </strong>{{patient.smoking_habits}}</p>
          <p class="card-text"><strong>Alcohol Consumption: </strong>{{patient.drinking_habits}}</p>
          <p class="card-text"><strong>Fitness: </strong>{{patient.exercise_frequency}}</p>
          <div class="d-flex justify-content-between">
            <h5 class="card-title">Allergies & Conditions</h5>
            <a href="{{url_for('edit_patient_allergy', patient_id=patient._id)}}"> <img src="../static/images/edit.png" height="15"> </a>
          </div>
          <hr>
          <p class="card-text"><strong>Allergies:</strong></p>
          <p class="card-text">{{patient.allergies}}</p>
          <p class="card-text"><strong>Conditions:</strong></p>
          <p class="card-text">{{patient.conditions}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-5">
      <h1 class="mt-5 ml-4">Timeline</h1>
      <div class="card">
        <div class="card-body timeline">
          {% for consult in consultations %}
          {% if consult.patient_id == patient.patient_id %}
          <div>
            <h6 class="">{{consult.date_of_consultation}}</h6>
            <h5 class=" reason-symptom"> {{consult.consultation_type}} : {{consult.symptoms}}</h5>
            <p class="reason-symptom">with {{consult.physician}}</p>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div id="myModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Personal Information</h5>
        </div>
        <div class="modal-body">
          <form method="POST" action="{{ url_for('update_patient',patient_id=patient._id) }}">
            <div class="form-group">
              <labe>First Name</labe>
              <input type="text" name="first" class="form-control" value="{{patient.first_name}}">
            </div>
            <div class="form-group">
              <labe>Last Name</labe>
              <input type="text" name="last" class="form-control" value="{{patient.surname}}">
            </div>
            <div class="form-group">
              <labe>Date of Birth</labe>
              <input type="date" name="dob" class="form-control" value="{{patient.dob}}">
            </div>
            <div class="form-group">
              <labe>Gender</labe>
              <select id="gender" name="gender" class="form-control" required>
                <option value="default" disabled selected>Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
              </select>
            </div>
            <div class="form-group">
              <labe>Ethnicity</labe>
              <input type="text" name="ethnicity" class="form-control" value="{{patient.ethnicity}}">
            </div>
            <button class="btn center primary-button" type="submit" id="target">Update
            </button>
          </form>
        </div>
      </div>
    </div>

  </div>

  {% endblock %}
